@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@keyframes anim1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

@-webkit-keyframes anim2 {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes anim2 {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: -webkit-linear-gradient(45deg, #5f2c82 10%, #49a09d 90%) center center fixed;
  background: linear-gradient(45deg, #5f2c82 10%, #49a09d 90%) center center fixed;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%
}

header {
  margin: auto;
  width: 100%;
  min-width: 600px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 3em
}

header h1 {
  font-size: 4.35em;
  font-weight: 900;
  letter-spacing: -0.035em;
  line-height: 1em;
  margin: 25px 0;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-animation: anim1 .5s ease-in-out forwards;
  animation: anim1 .5s ease-in-out forwards;
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

header p {
  font-size: 1.25em;
  margin: 0.75em 0 0.25em 0;
  opacity: 0.75;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-animation: anim1 .5s ease-in-out forwards;
  animation: anim1 .5s ease-in-out forwards;
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

header nav {
  margin: 30px 0 0 0
}

header nav ul {
  list-style: none;
  padding: 0
}

header nav ul:after {
  content: '';
  display: block;
  clear: both;
  float: none
}

header nav ul li {
  float: left
}

header nav ul li a {
  color: #fff;
  opacity: 0.75;
  display: block;
  text-decoration: none;
  border: 1px solid #fff;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  opacity: 0;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-animation: anim1 .5s ease-in-out forwards;
  animation: anim1 .5s ease-in-out forwards
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2)
}

header nav ul li a:before {
  line-height: 60px
}

header nav ul li:nth-child( 1) a {
  -webkit-animation-delay: .9s;
  animation-delay: .9s
}

header nav ul li:nth-child( 2) a {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s
}

header nav ul li:nth-child( 3) a {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s
}

header nav ul li:nth-child( 4) a {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s
}

header nav ul li:nth-child( 5) a {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s
}

header nav ul li:nth-child( 6) a {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s
}

header nav ul li:nth-child( 7) a {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s
}

header nav ul li:nth-child( 8) a {
  -webkit-animation-delay: 3s;
  animation-delay: 3s
}

header nav ul li:nth-child( 9) a {
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s
}
